.explore-cover-image {
    height: 250px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    height: 70px;
    width: 100%;
}

.overlay-top {
    background: linear-gradient(to bottom, black 10%,
            rgba(0, 0, 0, 0.1));
    top: 0;
}

.overlay-down {
    background: linear-gradient(to top, black 10%,
            rgba(0, 0, 0, 0));
    bottom: 0;
}

.explore .explore-data {
    position: relative;
    bottom: 5rem;
    z-index: 3;
    color: rgba(255, 255, 255, 0.8) !important;
}

.explore p {
    max-width: 600px;
}

@media screen and (min-width: 768px) {
    .explore-cover-image {
        height: 400px;
    }

    .explore .explore-data {
        bottom: 6rem;
        padding-inline: 5rem;
    }

}