.about-image {
    max-width: 350px;
}



@media screen and (min-width: 992px) {
    .about {
        padding-inline: 10rem;
    }
          .about p {
              max-width: 350px;
          }
}

@media screen and (min-width: 1200px) {
    .about {
        padding-inline: 15rem;
    }
}