.hero {
    background-image: url('../../Assets/img/home-bg.jpg');
    background-position: center;
}

button:hover {
    background-color: rgba(150, 150, 150, 0.5);
}


.hero h4 {
    margin-top: 10rem;
}

.hero h2 {
    font-size: 3rem;
}

.hero .images div {
    width: 200px;
    position: relative
}
.hero .images img {
    cursor: pointer;
}


.hero .images div p {
    bottom: 0.5rem;
    left: 0.5rem
}